<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              crossorigin="anonymous"/>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.js">
        </script>
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css"/>


        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

        <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

        <script >
            $(document).ready(function () {
                $('#table_id').DataTable({
                    "ajax": 'http://localhost:8080/auth/webresources/authentication/list',
                    ,
        "columns": [
            { "userName": "userName" },
            { "password": "password" }
           
        ]
                });
            });

        </script>


        <script src="./resources/js/angular.js">
        </script>

    </head>
    <body ng-app="demo" ng-controller="mainController" >
        <h1>{{welcome}}</h1>

        <button class="btn btn-outline-primary my-2 my-sm-0" ng-click="myClick()" >{{welcome}}</button>

        <button class="btn btn-outline-primary my-2 my-sm-0" ng-click="restCall()" >Rest call</button>


        <table id="table_id" class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>Password </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>user name</td>
                    <td>password</td>
                </tr>
                <tr>
                    <td>user name</td>
                    <td>password</td>
                </tr>
            </tbody>
        </table>






        <table  id="userList" class="table table-striped table-hover table-sm">
            <caption>Users</caption>
            <thead class="thead-dark">
                <tr>
                    <th class="text-left" scope="col">Username</th>
                    <th class="text-left" scope="col">password</th>

                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="o in users">
                    <td class="text-left">{{o.userName}}</td>
                    <td class="text-left">{{o.password}}</td>

                </tr>
            </tbody>


        </table>




        <div id="ajax-loading" ng-show="loading">
            <div>

                Adatok betöltése folyamatban
            </div>
        </div>


    </body>
</html>
