<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
       <h:outputStylesheet name="./css/default.css"/>
    </h:head>

    <h:body>
        <h:form>
            <p:inputText id="txt2" value="#{mainController.welcomeMessage}"/>
            <p:spinner />
            <p:commandButton value="Update text" action="#{mainController.buttonAction}" update="@form"/>
            <p:inputText id="txt" value="#{mainController.welcomeMessage}"/>
        </h:form>
    </h:body>
</html>

