<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
    </h:head>

    <h:body>
        <h:form>
           
            <p:commandButton value="Update text" action="#{mainController.buttonAction}" ajax="false"/>
            <p:commandButton value="Call remote REST service" action="#{mainController.restCallAction}"/>
           
        </h:form>
    </h:body>
</html>

