body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

/*.ui-widget-content {

    background-color: green;
}*/

.ui-button{
    background-color: red !important;
}

.ui-datatable  .ui-widget-content {
    border-color: white !important;
}


.ui-datatable  .ui-widget-content .ui-datatable-even {
    background-color: green !important;
}



#ajax-loading {
    position: absolute;
    /*top: 0;*/
    margin-top: -10px;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
}

#ajax-loading div {
    position: relative;
    margin: 50px auto;
    padding: 0;
    width: 280px;
    background: #fff;
    top: 47%;
    border: 2px solid #eee;
}